name: Build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Build
        run: ./gradlew build
  dokka:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Build
        run: ./gradlew dokkaHtml
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dokka
          path: |
            ./build/dokka/html
          retention-days: 7
  writerside:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Build Writerside docs using Docker
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: Writerside/hi
          artifact: webHelpHI2-all.zip
          docker-version: 2.1.1479-p3869
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: writerside
          path: |
            artifacts/webHelpHI2-all.zip
          retention-days: 7
  deploy:
    needs: [writerside, dokka]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    permissions:
      id-token: write
      pages: write
    steps:
      - name: Download artifact (writerside)
        uses: actions/download-artifact@v4
        with:
          name: writerside
      - name: Create api-docs directory
        run: mkdir dir/api-docs -p
      - name: Download artifact (dokka)
        uses: actions/download-artifact@v4
        with:
          name: dokka
          path: dir/api-docs
      - name: Unzip artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq webHelpHI2-all.zip -d dir
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dir
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
