name: Build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Build
        run: ./gradlew build
      - name: Run check
        run: ./gradlew check
      - name: Run server tests (1.8.8)
        run: ./gradlew testPlugin8
      - name: Run server tests (1.21.11)
        run: ./gradlew testPlugin21
